@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    overflow-x: clip;
    font-family: "Inter", serif;
    position: relative;
}

.marquee-inner {
    animation: marquee 15s linear infinite; 
}

@keyframes marquee {
    0% {
        transform: translateX(100%); 
    }
    100% {
        transform: translateX(-100%); 
    }
}

